<%- include ('header')-%>
<br>
<br><br>
<br><br>
<br>

<div class="container">
	<h1>Liste des Utilisateur</h1>

	<table class="table">
		<thead>
		  <tr>
			<th scope="col">Nom Produit</th>
			<th scope="col">Prix</th>
			<th scope="col">Option</th>
		  </tr>
		</thead>
		<tbody>
			<% produits.forEach(function (produit){%>
		  <tr>
			<td><%= produit.nomProduit%> </td>
			<td> <%= produit.prix%></td>
			<td><div class="btn btn-warning"> 
					<a href="deleteProduit/<%= produit._id%>"><i class="fa fa-trash"></i></a>
				</div>
			</td>
		  </tr>
		</tbody>
		<%})%>
	  </table>
</div>


<%- include ('footer')-%>