<%- include ('header')-%>
<div class="container">
    <div class="col">
        <div class="login_form_inner">
            <br><br>
            <div class="">
                <div class="col-md-12 form-group">
                    <img width="170px" src="<%= singleUser.chemin%>">
                </div>
                <div class="mx-auto row col-lg-12 col-12 col-md-12 form-group">
                    <div class="  col-lg-6 col-md-6 col-sm-12">
                        <h3>Nom et Prenom</h3>
                        <p> <%= singleUser.nom%></p>
                    </div>
                    <div class="  col-lg-6 col-md-6 col-sm-12">
                        <h3>Email</h3>
                        <p> <%= singleUser.email %></p>
                    </div>
                </div>
                <div class="mx-auto row col-lg-12 col-12 col-md-12 form-group">
                    <div class="  col-lg-6 col-md-6 col-sm-12">
                        <h3>Telephone</h3>
                        <p><%= singleUser.tel%></p>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-12">
                        <h3>champ d'activite</h3>
                        <p><%= singleUser.prof %></p>
                    </div>
                </div>
                
            
            </div>
        </div>
    </div>
</div>
<%- include ('footer')-%>