<%- include ('header')-%>
<br><br><br><br><br><br><br><br>
<div class="container mx-auto text-center">
      <div style="padding: 10px; "  class=" mx-auto col-lg-6 col-md-12 col-sm-12 recent text-center">
        <form action="/search" method="POST" class=" text-center search">
          <div class="input-group w-100">
            <input type="text" name="name" class="form-control" style="width:55%;"
              placeholder="Siyati Non Ex: Pierre Maxime">
            <div class="input-group-append">
              <button class="btn btn-danger" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
<br>

<div class="section">
    <div class="container">
        <div class="row">
          <% professionels.forEach(function (professionel){%>
            <div class="mix col-lg-3 col-md-4 col-sm-6 chere">
              <div class="text-center" class=" card playlist-item">
                <div class="card-body">
                  <div style="text-align: center;" class="text-center">
                    <img  width="80%" src="<%= professionel.chemin %>" alt="...">
                  </div>
                  <h5 tyle="text-align: center;" class="text-center" class="card-title"><%= professionel.nom%></h5>
                  <p class="card-text"><%= professionel.mail %></p>
                  <a href="/professionelSingle/<%= professionel._id %>" class="btn btn-danger">Voir</a> 
                </div>
              </div>
            </div>
          <%})%>
        </div>
      </div>
      <hr>
</div>
<br>
<%- include ('footer')-%>
