<%- include ('header')-%>
<div class="container">
	<br><br><br><br><br><br>
	<h1>Detail du Produit</h1>
	<div class="row">
		<div class="col-lg-6">
			<img src="<%=prod.chemin %>" width="100%">
		</div>
		<div class="col-lg-6">
				<h3><%= prod.nomProduit %></h3>
				<h2>$ <%= prod.prix %> US </h2>
				<p> <%= prod.description %> </p>
				
		</div>
	</div>
	<br><br><br>
</div>


<%- include ('footer')-%>
