<%-include ('header')-%>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="login_form_inner">
                    <% if (locals.user){ %>
                    <form class="row login_form" action="/inscription" method="POST" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <img class="rounded-circle" width="50%" src="<%= user.chemin%>">
                        </div>
                        <div class="col-md-12 form-group">
                            <h3>Nom et Prenom</h3>
                            <p><%= user.nom%></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <h3>E-mail</h3>
                            <p><%= user.email%></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <h3>Telephone</h3>
                            <p><%= user.tel%></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <h3>Profession</h3>
                            <p><%= user.prof%></p>
                        </div>
                    </form>
                    <% }%>
                </div>
            </div>
            <div class="col-lg-8">
                <br><br> <br><br> 
                
                    <h1>Liste de Vos Produits</h1>
                   <a href="/ajouterProduit">
                       <button class="btn btn-primary">
                        <i class="fa fa-plus"></i> Ajouter Produit
                    </button>
                   </a>
                    
            <hr>

                <div class="row">
                    <% produits.forEach(function (produit){%>

                    <div class=" card col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="<%= produit.chemin%>" width="100px" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title"> <%= produit.nom %> </a>
                                <div class="price">
                                    <span> Prix : </span>
                                    <h6> <%= produit.prix %>  </h6>
                                </div>
                                <div class="btn btn-warning"> <a href="deleteProduit/<%= produit._id%>">
                                    <i class="fa fa-trash"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
                
            </div>	
        </div>
    </div>
</section>
<%-include ('footer')-%>